out/*
data/htmls/*
source/__pycache__
production/model/*

!data/htmls/.gitkeep
!production/data/htmls/.gitkeep
!production/data/htmls/.gitkeep
!production/data/sample_data
!out/.gitkeep
source/config.py
